<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <title>Sign up</title>
</head>
<body>
    
    <div class="container">
        <h2>Sign up</h2>		
        <form th:action="@{/signup}" th:object="${user}" method="post" autocomplete="off" >
            <div class="form-group">
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
                <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
                <input type="text" th:field="*{username}" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group"> 
                <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/> 
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
            </div>
            <div class="form-group">
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/> 
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit" th:text="Submit"></button>
            </div>
        </form>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="/custom.js"></script>
</body>
</html>